*{
  margin:0px;
  padding:0px;
font-family:Trebuchet MS;
}

#header{
background-color:#b30000;
height:140px;
    margin: auto;
    overflow: hidden;
	
	
}

#main{
	float:left;
	width:30%;
}

#logo{
font-size:30px;
	font-family:Trebuchet MS;
	color:white;
	margin:20px 20px;
	width:100%;

	}

#decs{
	margin:0px 60px;
width:100%;
}

.login{
	float:right;
	width:50%;
	margin:0px;
	color:white;

}

.login2{



margin: auto;

	float:none;

	font-family:Trebuchet MS; 
	color:black;

}

.login input[type=text] {
	font-weight:bold;
	font-size:15px;
	color:green;
	padding:6px;
	width:170px;
	height:16px;
	border-radius:none;
	border:1px solid black;

}


.login input[type=password] {
	font-weight:bold;
	font-size:15px;
	color:green;
	padding:6px;
	width:170px;
	height:16px;
	border-radius:none;
	border:1px solid black;

}






.login2 input[type=text]{
border:1px solid #b30000;
}

.login2 input[type=password]{
border:1px solid #b30000;
}

.login input[type=text]:focus,[type=password]:focus{
outline:0px;

}

.login2 p{
font-weight:bold;
color:#b30000;
}


.email{
	float:left;
	margin:40px 5px;
}


.email2{
		float:none;
	margin:0px;
}

.pass{
	float:left;
	margin:40px 5px;
}

.pass2{
		float:none;
	margin:0px;
}

.submit2{
		float:none;
	margin:0px;
	
}

.submit{
		float:left;
	margin:59px 5px;
	
}

.submit2{
		float:none;
	margin:0px;

}

.button{
margin:0px 0px;
background-color:#b3b3ff;
border:1px solid green;
border-radius:5px;
color:green;
padding:4px ;
}


.other{
background-color:#b30000;
border:2px solid #b30000;
color:white;
border-radius:0px;
float:none;
width:185px;
font-weight:bold;
margin-right:5px;
margin-left:2px;
}











#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu {
  width: auto;
  border: 3px solid #b30000;
  line-height: 1;
}

#cssmenu ul {
  background: #ffffff;
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu.align-right > ul > li > a {
  margin-right: 0;
  margin-left: -4px;
}
#cssmenu > ul > li > a {
  z-index: 2;
  padding: 18px 25px 12px 25px;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  color: #b30000;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  margin-right: -4px;
}
#cssmenu > ul > li.active > a,
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li > a:hover {
  color: #ffffff;
}
#cssmenu > ul > li > a:after 
{
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 120%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  content: "";
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform: perspective(5px) rotateX(2deg);
  -webkit-transform-origin: bottom;
  -moz-transform: perspective(5px) rotateX(2deg);
  -moz-transform-origin: bottom;
  transform: perspective(5px) rotateX(2deg);
  transform-origin: bottom;
}
#cssmenu > ul > li.active > a:after,
#cssmenu > ul > li:hover > a:after,
#cssmenu > ul > li > a:hover:after {
background: #b30000;
}







#menu{

background-color:none;
margin:20px 0px;
width:100%;
}




label
{
color:white;
font-weight:bold;
background-color:#b30000;

border:1px solid black;
margin-left:5px;
box-shadow: 5px 5px 3px #888888;

}

input[type=radio]
{
display:none;
}
input[type=radio]:checked + label
{
background-color:green;

}


input[type=radio]:hover+label
{
background-color:#00b3b3;
}

#content{
height:550px;
}

#pic{

margin:0px;
float:left;
	
	width:40%;
	background-color:white;
	
}





.search{
float:right;
width:40%;
margin-top:40px;
margin-right:10px;

}

.search select {
    width:310px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
	margin-top:10px;
	
	box-shadow: 5px 5px 3px #888888;
}
.search input[type=submit] {
	font-size:25px;
    width: 310px;
    background-color:#b30000;
    color: white;
    padding: 5px 20px;
    margin: 8px 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	
}

.search input[type=submit]:hover {
background-color:#00b3b3;
color:white;	
}


.req input[type=submit]:hover {
background-color:#00b3b3;	
}

.req{
text-align:center;
float:none;
width:auto;
margin-top:0px;
margin-right:0px;
}

.req  input[type=submit]{
background-color:green;
color:white;
width:315px;
padding: 3px 20px;
    border: 1px solid black;
    border-radius:0px;
	margin: 3px 0px;

}








@media screen and (max-width: 905px) {

#content{

height:350px;

}


    #pic {
        display:none;
    }
	.search{
		width:auto;
		height:auto;
		float:none;
		text-align:center;
		margin:5px 0px 5px 0px;
		
	}
	
	#menu{
	margin-left:0px;
	
	}
	
	
#decs{
	margin:0px;
width:auto;
}


#login{
display:none;
}
#main{
	float:none;
	width:auto;
	height:auto;
	text-align:center;
}

#logo{
font-size:30px;
	font-family:Trebuchet MS;
	color:white;
	margin:20px 0px;
	width:auto;

	}
	
#header{
		float:none;
	width:auto;
}


	#cssmenu{
border:4px solid #b30000;

}

#cssmenu ul{

display:none;

}





.dropbtn {
 	margin:10px;
	float:left;
width:100px;
text-align:center;
        display: block;
        cursor: pointer;
        line-height: 30px;
        padding:5px;
        border-radius: 5px;
        background: #b30000;
        border: 1px solid #AAA;
        border-bottom: 1px solid #777;
        color:white;
        font-weight: bold;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
	border-radius: 5px;
	font-weight:bold;
	text-align:center;
	top:53px;
	left:9px;
    display: none;
    position: absolute;
    background-color:green;
    min-width: 90px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
	border-radius: 5px;
	border-bottom:1px solid black;
    color:white;
    padding: 12px 10px;
    text-decoration: none;
    display: block;
	
}

.dropdown-content a:hover {background-color:white; color:green;}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #b30000;
}


	
	.loginbtn{
	margin:10px;
	float:right;
width:100px;
text-align:center;
        display: block;
        cursor: pointer;
        line-height: 30px;
        padding:5px;
        border-radius: 5px;
        background: #b30000;
        border: 1px solid #AAA;
        border-bottom: 1px solid #777;
        color: #282D31;
        font-weight: bold;
	
	}
	
.loginbtn:hover{
	background-color:green;
	
}	


	
}


@media screen and (min-width: 910px){

.dropdown{
display:none;

}

.loginbtn{
display:none;
}



}





#footer{
position:relative;
bottom:0;
right:0;
left:0;
	height:45px;
	width:100%;
	background-color:#b30000;
	color:white;
	text-decoration:none;
border-top:4px solid green;
}

#footer a{
text-decoration:none;
color:white;
}


.ap{
	bottom:0px;
	left:0px;
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}




.aa{

float:left;
}




.ia{
margin-left:5px;
float:left;
}



.aa:hover .ap{
display:block;
}

.ip{
	bottom:0px;
	right:0px;
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}

.ia:hover .ip{
display:block;
}



#links{
margin-left:70px;
width:500px;

}


